<nav>
  <%= link_to 'Доска объявлений', root_path %>
  <% if signed_in? %>
    <%= link_to 'Добавить', new_bulletin_path%>
    <%= link_to 'Выйти'%>
  <% else %>
    <%= button_to 'Войти', '/auth/github', data: { turbo: false } %>
  <% end %>
  <% if @current_user.admin? %>
    <%= link_to 'Админка', admin_root_path %>
  <% end %>
</nav>
