 <h3 class="border-bottom">Объявления</h3>

<%= search_form_for @q do |f| %>
  <p>
    <%= f.label 'Поиск по названию', class: 'search-lable' %>
    <%= f.search_field :title_cont %>
  </p>

  <p>
    <%= f.label 'Поиск по категории', class: 'search-lable' %>
    <%=
      f.select :category_id_eq,
      options_from_collection_for_select(Category.all, 'id', 'name'),
        include_blank: true
    %>
  </p>
  <%= f.submit %>
  <%= link_to 'Сброс', root_path %>
<% end %>

<% @bulletins.each do |bulletin| %>
  <p><%=  image_tag(bulletin.image, width: '15%') %></p>
  <p><%= link_to bulletin.title, bulletin_path(bulletin.id) %></p>
<% end %>

<%= paginate @bulletins %>
