<h3>Add bulletin</h3>

<%= simple_form_for @bulletin do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text  %>
  <%= f.input :category_id, label: 'Category', collection: Category.all %>
  <%= f.file_field :image %>
  <p><%= f.button :submit %></p>
<% end %>
