
<h3>Мои объявления</h3>
<%= link_to 'добавить объявление', new_bulletin_path %>
<%= search_form_for @q, url: profile_url do |f| %>
  <%= f.label 'По названию' %>
  <%= f.search_field :title_cont %>

  <%= f.label "По состоянию" %>
  <%= f.select :aasm_state_eq,
    options_from_collection_for_select(Bulletin.aasm.states.map(&:name), 'name', 'name'),
      include_blank: true
  %>
  <%= f.submit %>
<% end %>
<%= link_to 'Сброс', profile_path %>

<table>
  <tr>
    <th>Название</th>
    <th>Состояние</th>
    <th>Дата создания</th>
    <th colspan="4">Действия</th>
  </tr>
  <% @bull.each do |bulletin| %>
    <tr>
      <td><%= bulletin.title %></td>
      <td><%= bulletin.aasm_state%></td>
      <td><%= distance_of_time_in_words(Time.now, bulletin.created_at) %></td>
      <td>
        <%= link_to 'Показать', bulletin_path(bulletin.id) %>
        <%= link_to 'Редактировать', edit_bulletin_path(bulletin.id) %>
        <%= link_to 'На модерацию', to_moderate_path(bulletin.id),
          data: {turbo_method: :patch} unless bulletin.under_moderation? || bulletin.archived? || bulletin.published? %>

        <%= link_to 'Архивировать', to_archive_path(bulletin.id),
          data: {turbo_method: :patch, turbo_confirm: 'Подтвердить архивацию'} unless bulletin.archived? %>
      </td>
    </tr>
  <% end %>
</table>
