<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject65</title>

    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "example", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <div class="text-center">
    <%= render 'layouts/share/nav' %>
    <%= render 'layouts/share/flash' %>
    <body class="border">
      <%= yield %>
    </body>
  </div>
</html>
